/.metadata/
/.recommenders/
.sonarlint
EmployeeManagementServerApplication/.classpath
EmployeeManagementServerApplication/.project
EmployeeManagementServerApplication/.settings
EmployeeManagementServerApplication/bin
EmployeeManagementClientApplication/.settings
EmployeeManagementClientApplication/bin
Servers
RemoteSystemsTempFiles
.DS_Store
ShoppingCartServer/.classpath
ShoppingCartServer/.project
ShoppingCartServer/.settings
ShoppingCartServer/bin
ShoppingCartClient/.classpath
ShoppingCartClient/.project
ShoppingCartClient/bin
ShoppingCartClient/.settings
